
# Humanitec Organization ID
humanitec_org_id = ""

# Azure region to deploy into
location = ""

# Azure Subscription (ID) to use
subscription_id = ""

# List of EC2 instances types to use for EKS nodes
vm_size = "Standard_D2_v2"